*{
    box-sizing:border-box;
    font-family:'Times New Roman', Times, serif, sans-serif;
}
body{
    display:flex;
    background:#ebedef;
}
.sidepanel{
    width:240px;
    height:100vh;
    background:rgb(156, 0, 0);
    color:white;
    padding:20px;
    position:fixed;
}
.sidepanel ul button{
    padding:15px;
    margin-bottom:10px;
    border-radius:8px;
    cursor:pointer;
    transition:0.3s;
}
.sidebar ul button:hover,
.sidebar ul .active{
    background:#9e0202;
}
.main{
    margin-left:240px;
    width:100%;
    padding:25px;
}
.header{
    display:flex;
    margin-left: 30px;
    align-items:center;
    margin-bottom:30px;
}
.options{
    margin-left: 70px;
    display:flex;
    gap:10px;
}

.options select{
    padding:10px;
    border-radius:8px;
    border:none;
}
.options button{
    padding:10px;
    border-radius:8px;
    border:none;
}

.options button{
    background:#a40000;
    color:white;
    cursor:pointer;
}
.cards{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}
.card{
    width:350px;
    background:white;
    padding:20px;
    border-radius:12px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}
.card h3{ margin-bottom:10px;
    color:#220101;}
    .card p{
    font-size:28px;
    font-weight:bold;
    color:#a20000;
}
.charts{
    display:flex;
    gap:20px;
    margin-bottom:30px;
}

.chart-box{
    background:white;
    padding:20px;
    border-radius:12px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}